<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Material Design Slider Animation - Demo</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>

<div class="com" ng-controller="mainCtrl">
    <div class="com__content">

        <div ng-repeat="content in contents">
            <section ng-if="!content.isHalf" class="{{content.content_class}}" >
                <h1 class="{{content.title.class}}">{{content.title.content}}</h1>
                <img ng-if="content.image" class="{{content.image.class}}" ng-src="{{content.image.src}}" alt="" />
                <p ng-if="content.content" class="{{content.content.class}}">{{content.content.content}}</p>
            </section>

            <section ng-if="content.isHalf" class="{{content.content_class}}" >
                <div class="com__section-half">
                    <h1 ng-if="content.content.sideA.title" class="{{content.content.sideA.title.class}}">{{content.content.sideA.title.content}}</h1>
                    <p ng-if="content.content.sideA.content" class="{{content.content.sideA.content.class}}">{{content.content.sideA.content.content}}</p>
                    <img ng-if="content.content.sideA.image" class="{{content.content.sideA.image.class}}" ng-src="{{content.content.sideA.image.src}}" alt="" />
                </div>
                <div class="com__section-half">
                    <h1 ng-if="content.content.sideB.title" class="{{content.content.sideB.title.class}}">{{content.content.sideB.title.content}}</h1>
                    <p ng-if="content.content.sideB.content" class="{{content.content.sideB.content.class}}">{{content.content.sideB.content.content}}</p>
                    <img ng-if="content.content.sideB.image" class="{{content.content.sideB.image.class}}" ng-src="{{content.content.sideB.image.src}}" alt="" />
                </div>
            </section>
        </div>
    </div>
    <nav class="com__nav">
        <ul class="com__nav-list">
            <li class="com__nav-item" ng-repeat="content in contents">
                <a ng-if="!content.isHalf" href="" class="{{content.nav.class}}">
                    <span ng-repeat="thumb in content.nav.thumbs" class="{{thumb.class}}"></span>
                </a>
                <a ng-if="content.isHalf" href="" class="{{content.nav.class}}">
                    <div class="com__section-half">
                        <span ng-repeat="thumb in content.nav.sideA.thumbs" class="{{thumb.class}}"></span>
                    </div>
                    <div class="com__section-half">
                        <span ng-repeat="thumb in content.nav.sideB.thumbs" class="{{thumb.class}}"></span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>


<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="node_modules/jquery/dist/jquery.min.js"><\/script>')</script>

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>

</html>
